# Customer Segmentation

RFM= 
RECENCY   ---->  HOW RECENTLY CUSTOMER PURCHASED,
FREQUENCY ----> HOW OFTEN THEY PURCHASE,
MONETARY  ----> HOW MUCH THEY SPEND

In [2]:
import sqlite3
import pandas as pd
conn=sqlite3.connect("retail.db")

In [3]:
pd.read_sql("SELECT * FROM transactions",conn)

,OrderLineID,OrderID,ProductID,Qty,UnitPrice,LineDiscount$,LineCost$,LineRevenue$
0,OL0000001,O000001,P001689,2,323.19,45.22,363.40,601.16
1,OL0000002,O000001,P000676,3,34.66,7.27,59.13,96.71
2,OL0000003,O000001,P000972,1,76.08,5.32,45.59,70.76
3,OL0000004,O000001,P001872,3,45.45,9.54,93.42,126.81
4,OL0000005,O000001,P001669,1,78.55,5.50,50.67,73.05
...,...,...,...,...,...,...,...,...
182133,OL0182134,O044999,P002620,1,45.48,0.00,34.20,45.48
182134,OL0182135,O044999,P003262,3,196.63,196.63,360.81,393.26
182135,OL0182136,O045000,P000419,1,184.75,56.56,104.75,128.19
182136,OL0182137,O045000,P002702,2,137.51,84.20,145.34,190.82
182137,OL0182138,O045000,P003634,2,270.99,165.93,396.98,376.05

In [5]:
query=""" PRAGMA table_info(transactions);"""

pd.read_sql(query,conn)

   cid           name     type  notnull dflt_value  pk
0    0    OrderLineID     TEXT        0       None   0
1    1        OrderID     TEXT        0       None   0
2    2      ProductID     TEXT        0       None   0
3    3            Qty  INTEGER        0       None   0
4    4      UnitPrice     REAL        0       None   0
5    5  LineDiscount$     REAL        0       None   0
6    6      LineCost$     REAL        0       None   0
7    7   LineRevenue$     REAL        0       None   0

Basket analysis
Promotion targeting
Order value prediction
This is called Order Value Segmentation.

In [ ]:
# OrderID ≈ Customer session / purchase event

query="""
select 
        OrderID,
        Count(DISTINCT ProductID) As unique_products,
        Sum(Qty) as Total_items,
        sum(LineRevenue$) as Order_revenue,
        sum(LineDiscount$) as total_discount
    from transactions
    group by OrderID

"""
orderdf=pd.read_sql(query,conn)
orderdf.head()

   OrderID  unique_products  Total_items  Order_revenue  total_discount
0  O000001                6           13        1332.40          100.23
1  O000002                4            7         760.41          203.33
2  O000003                3            6        1296.73           38.67
3  O000004                3            8         608.23          276.20
4  O000005                4            7        1031.90           30.32

In [7]:
orderdf.describe()

       unique_products   Total_items  Order_revenue  total_discount
count     45000.000000  45000.000000   45000.000000    45000.000000
mean          4.045711      7.289667     996.394873      233.813866
std           1.312408      2.944176     531.642096      220.793369
min           1.000000      1.000000       3.030000        0.000000
25%           3.000000      5.000000     610.897500       64.550000
50%           4.000000      7.000000     928.720000      158.835000
75%           5.000000      9.000000    1305.847500      345.142500
max           6.000000     19.000000    3989.440000     2045.070000

In [ ]:
# Step- Create value-based segments

orderdf['value_seg']=pd.qcut(orderdf['Order_revenue'],q=4,labels=['low','med','high','premium'])
orderdf['value_seg'].value_counts()

value_seg
med        11251
low        11250
premium    11250
high       11249
Name: count, dtype: int64

In [10]:
orderdf['basket_type'] = pd.cut(
    orderdf['unique_products'],
    bins=[0,1,3,5,100],
    labels=['Single-item','Small','Medium','Large']
)

orderdf[['value_seg','basket_type']].head()

  value_seg basket_type
0   premium       Large
1       med      Medium
2      high       Small
3       low       Small
4      high      Medium

In [35]:
orderdf.groupby(['value_seg','basket_type']).agg(
    avg_revenue=('Order_revenue','mean'),
    avg_items=('Total_items','mean'),
    avg_discount=('total_discount','mean'),
    orders=('OrderID','count')
)

/var/folders/kv/02xnk4yx4q94gr1r59m8rd140000gn/T/ipykernel_82789/106487853.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  orderdf.groupby(['value_seg','basket_type']).agg(

                       avg_revenue  avg_items  avg_discount  orders
value_seg basket_type
low       Single-item   209.033034   1.686286     53.036331    1750
          Small         395.382656   4.090274    118.006299    6303
          Medium        483.904547   6.406149    161.154896    3090
          Large         538.456262   9.121495    190.724112     107
med       Single-item   728.112245   3.081633    116.740612      98
          Small         750.883441   5.158223    192.760480    3691
          Medium        779.351773   7.181927    244.551840    6695
          Large         802.975541   9.251630    286.501173     767
high      Single-item  1046.115714   3.571429     55.195000      14
          Small        1082.423883   6.093564    210.435949    1849
          Medium       1103.763998   8.067719    292.481027    7413
          Large        1125.891602  10.095286    361.123457    1973
premium   Single-item  1427.260000   4.500000     78.005000       2
          Small        1546.156516   7.196891    188.680557     772
          Medium       1680.137160   9.484280    272.846297    6552
          Large        1816.028682  11.535423    352.361504    3924

### Fature engineering

In [13]:
model_df=orderdf.copy()

In [14]:
model_df

,OrderID,unique_products,Total_items,Order_revenue,total_discount,value_seg,basket_type
0,O000001,6,13,1332.40,100.23,premium,Large
1,O000002,4,7,760.41,203.33,med,Medium
2,O000003,3,6,1296.73,38.67,high,Small
3,O000004,3,8,608.23,276.20,low,Small
4,O000005,4,7,1031.90,30.32,high,Medium
...,...,...,...,...,...,...,...
44995,O044996,6,16,1289.18,750.21,high,Large
44996,O044997,6,8,1098.31,416.59,high,Large
44997,O044998,5,9,1471.25,168.60,premium,Medium
44998,O044999,6,12,1102.56,575.17,high,Large
44999,O045000,3,5,695.06,306.69,med,Small

In [ ]:
query=""" PRAGMA table_info(transactions);"""
pd.read_sql(query,conn)

   cid           name     type  notnull dflt_value  pk
0    0    OrderLineID     TEXT        0       None   0
1    1        OrderID     TEXT        0       None   0
2    2      ProductID     TEXT        0       None   0
3    3            Qty  INTEGER        0       None   0
4    4      UnitPrice     REAL        0       None   0
5    5  LineDiscount$     REAL        0       None   0
6    6      LineCost$     REAL        0       None   0
7    7   LineRevenue$     REAL        0       None   0

In [15]:
model_df.columns

Index(['OrderID', 'unique_products', 'Total_items', 'Order_revenue',
       'total_discount', 'value_seg', 'basket_type'],
      dtype='object')

In [16]:
# Add Profit(business-focused)

query="""

select 
    OrderID,
    sum(LineRevenue$) as revenue,
    sum(LineCost$) as cost
from transactions
group by OrderID
"""

In [18]:
profit_df=pd.read_sql(query,conn)

In [19]:

profit_df

       OrderID  revenue     cost
0      O000001  1332.40   813.90
1      O000002   760.41   526.61
2      O000003  1296.73   792.10
3      O000004   608.23   554.51
4      O000005  1031.90   665.33
...        ...      ...      ...
44995  O044996  1289.18  1380.28
44996  O044997  1098.31   893.41
44997  O044998  1471.25   939.28
44998  O044999  1102.56  1033.13
44999  O045000   695.06   647.07

[45000 rows x 3 columns]

In [20]:
profit_df['profit']=profit_df['revenue']-profit_df['cost']

In [21]:
model_df=model_df.merge(profit_df[['OrderID','profit']],on='OrderID')

In [24]:
model_df.head()

,OrderID,unique_products,Total_items,Order_revenue,total_discount,value_seg,basket_type,profit
0,O000001,6,13,1332.40,100.23,premium,Large,518.50
1,O000002,4,7,760.41,203.33,med,Medium,233.80
2,O000003,3,6,1296.73,38.67,high,Small,504.63
3,O000004,3,8,608.23,276.20,low,Small,53.72
4,O000005,4,7,1031.90,30.32,high,Medium,366.57

### Prediction

In [25]:
model_df.columns

Index(['OrderID', 'unique_products', 'Total_items', 'Order_revenue',
       'total_discount', 'value_seg', 'basket_type', 'profit'],
      dtype='object')

In [26]:
threshold=model_df['Order_revenue'].quantile(0.75)
model_df['high_value_order']=(model_df['Order_revenue']>=threshold.astype(int))
model_df['high_value_order'].value_counts()

high_value_order
False    33721
True     11279
Name: count, dtype: int64

In [27]:
features=[
    'Total_items',
    'unique_products',
    'total_discount',
    'profit'
]

X=model_df[features]
Y=model_df['high_value_order']

In [28]:
X

       Total_items  unique_products  total_discount  profit
0               13                6          100.23  518.50
1                7                4          203.33  233.80
2                6                3           38.67  504.63
3                8                3          276.20   53.72
4                7                4           30.32  366.57
...            ...              ...             ...     ...
44995           16                6          750.21  -91.10
44996            8                6          416.59  204.90
44997            9                5          168.60  531.97
44998           12                6          575.17   69.43
44999            5                3          306.69   47.99

[45000 rows x 4 columns]

In [ ]:
# pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.8.0-cp312-cp312-macosx_12_0_arm64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.24.1 in ./.venv/lib/python3.12/site-packages (from scikit-learn) (2.4.0)
Collecting scipy>=1.10.0 (from scikit-learn)
  Downloading scipy-1.16.3-cp312-cp312-macosx_14_0_arm64.whl.metadata (62 kB)
Collecting joblib>=1.3.0 (from scikit-learn)
  Downloading joblib-1.5.3-py3-none-any.whl.metadata (5.5 kB)
Collecting threadpoolctl>=3.2.0 (from scikit-learn)
  Using cached threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.8.0-cp312-cp312-macosx_12_0_arm64.whl (8.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.1/8.1 MB 31.8 MB/s eta 0:00:00a 0:00:01
Downloading joblib-1.5.3-py3-none-any.whl (309 kB)
Downloading scipy-1.16.3-cp312-cp312-macosx_14_0_arm64.whl (20.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 20.9/20.9 MB 41.7 MB/s eta 0:00:00a 0:00:01
Using cached threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.5.3 scikit-learn-1.8.0 scipy-1.16.3 threadpoolctl-3.6.0

[notice] A new release of pip is available: 24.2 -> 25.3
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [31]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

In [32]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=.25,random_state=42,stratify=Y)
model=LogisticRegression(max_iter=100)
model.fit(x_train,y_train)

LogisticRegression()

In [33]:
y_pred=model.predict(x_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

       False       0.96      0.97      0.96      8430
        True       0.91      0.87      0.89      2820

    accuracy                           0.94     11250
   macro avg       0.93      0.92      0.92     11250
weighted avg       0.94      0.94      0.94     11250

In [34]:
importance = pd.DataFrame({
    'feature': features,
    'coefficient': model.coef_[0]
}).sort_values(by='coefficient', ascending=False)

importance

           feature  coefficient
0      Total_items     0.454763
3           profit     0.026171
2   total_discount     0.013913
1  unique_products    -0.014053

### Validate

In [37]:
from sklearn.metrics import roc_auc_score

y_prob = model.predict_proba(x_test)[:,1]
roc_auc_score(y_test, y_prob)

0.98567703995356